@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-basic: #fff;
  --bg-darkmode: #2b2b2b;
  --bg-black: #000;
  --text-basic: #000;
  --text-darkmode: #fff;
}

html.dark {
  background: var(--bg-darkmode);
  color: var(--text-darkmode);
}

html.dark input,
html.dark select {
  background: var(--bg-darkmode);
}
html.dark .dkmd {
  background: var(--bg-darkmode);
}
html.dark .text-brand {
  color: rgb(90 200 100 / var(--tw-text-opacity, 1));
}
html.dark header,
html.dark footer {
  background: #2b2b2b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  @apply w-full;
  /* @apply w-full max-w-screen-2xl; */
}

input {
  @apply p-4 outline-none border border-gray-300 my-1;
}
